
<div>
<div id="wrapper">
    <app-sidenav></app-sidenav>

    <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
        <app-headernav></app-headernav>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Block Number</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a>Phone Book</a>
                    </li>
                    <li class="active">
                        <strong>Block Number</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
             
            </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content  p-md">
                        <!-- <h2>Phone Book</h2> -->
                        <div class="row">
                          <div class="col-lg-6">
                            <p>
                              <button class="btn btn-primary" (click)="addBlockButn();" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Add Number
                              </button>&nbsp;&nbsp;&nbsp;
                              <button class="btn btn-primary" type="button" (click)="bnList();" >
                                 Blocked List
                              </button>  
                          </p>  
                          </div>                    
                        </div>
        
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="collapse" id="collapseExample">
                                  <div class="card card-body">
                                      <form class="form-inline" id="addNumber" >           
                                          <div class="form-group mx-sm-3 mb-2"> 
                                            <input type="text" class="form-control" [(ngModel)]="block_number" name="block_number" placeholder="Enter Number">
                                            
                                          </div>
                                          &nbsp;&nbsp;
                                          <button type="button" class="btn btn-primary mb-2" (click)="addNum();">Add</button>
                                          
                                       </form>
                                         
                                       <span id="bnerr"></span>  
                                     
                                  </div>
                              </div>                              
                          </div>
                        </div>    
                    </div>
                </div>
            </div>
                            
    <div class="col-lg-12">
            <div class="ibox float-e-margins" id = "bnTable">
                <div class="ibox-title">
                    <h5>Last Blocked Number</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-hover" >
                        <thead>
                        <tr>
                            <th>#</th>
                            
                            <th>Name</th>
                            <th>Number</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>                          
                            <td>Samantha</td>
                            <td class="text-warning">1234567890</td>
                            <td><a href="#"><i class="fa fa-times text-navy"></i></a></td>
                        </tr>
                       
                        </tbody>
                    </table>
                </div>
            </div>
    </div>   
    <div class="col-lg-12">
            <div class="ibox float-e-margins" id = "blTable">
                <div class="ibox-title">
                    <h5>Blocked Numbers</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-hover" >
                        <thead>
                        <tr>
                            <th>#</th>
                            
                            <th>Name</th>
                            <th>Number</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>                          
                            <td>Samantha</td>
                            <td class="text-warning">1234567890</td>
                            <td><a href="#"><i class="fa fa-times text-navy"></i></a></td>
                        </tr>
                        <tr>
                                <td>2</td>                          
                                <td>Sidharth</td>
                                <td class="text-warning">1234567890</td>
                                <td><a href="#"><i class="fa fa-times text-navy"></i></a></td>
                        </tr>
                        <tr>
                                <td>3</td>                          
                                <td>Falil</td>
                                <td class="text-warning">1234567890</td>
                                <td><a href="#"><i class="fa fa-times text-navy"></i></a></td>
                        </tr>
                        <tr>
                                <td>4</td>                          
                                <td>Karun</td>
                                <td class="text-warning">1234567890</td>
                                <td><a href="#"><i class="fa fa-times text-navy"></i></a></td>
                        </tr>
                       
                        </tbody>
                    </table>
                </div>
            </div>
    </div>   
    </div>
    </div>   
</div>    
</div>
        