<div>
  <div id="wrapper">
    <app-sidenav></app-sidenav>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
          <app-headernav></app-headernav>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Plugins and APIs</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a>Downloads</a>
                    </li>
                    <li class="active">
                        <strong>Plugins and APIs</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
       
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
          <div class="row">
              <div class="col-lg-12">
                  <div class="ibox float-e-margins">
                      <div class="ibox-title">
                          <h5>Downloads</h5>
                          <div class="ibox-tools">
                              <a class="collapse-link">
                                  <i class="fa fa-chevron-up"></i>
                              </a>
                          </div>
                      </div>
                      <div class="ibox-content">
                          <form method="get" class="form-horizontal">
                            <div class="form-group">
                              <div class="col-sm-10">
                                  <div class="col-sm-1"></div>
                                  <div class="col-sm-3">
                                  <div class="input-group m-b"><select class="form-control m-b" name="account">
                                    <option>Excel Plugin</option>
                                    <option>HTTP API</option>
                                    </select>
                                  </div>
                                  </div>
                                  <div class="col-sm-2">
                                    <button type="button" class="btn btn-primary">Download</button> 
                                  </div>
                              </div>
                            </div>                         
                          </form>                    
                      </div>                      
                  </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
