<body class="image">
        <div>
                <div id="wrapper">
        <div class="col-md-12" id ="logContent">
        
        <div class="col-md-8"> </div>
        
        <div class="col-md-4" id ="logContent" >
        <div id="login-content">
        <div class="col-md-12" >
                <h3 style="color:white;">Welcome to IN+</h3>
                <img alt="image" class="greenLogo" src="assets/img/white-logo-small.png" />
            <div class="login-align-right" >
                    <form class="m-t" role="form" action="login.html">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name" required="">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" required="">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" required="">
                            </div>
                            <div class="form-group">
                                    <div class="checkbox i-checks">
                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                            <label class="form-check-label" for="gridCheck">
                                                    Agree the terms and policy
                                            </label>
                                          </div> 
                                <!-- <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div> -->
                            </div>
                           <button type="submit" id= "btnlogin" (click)="doLogin();" >Register</button>
                           
                           <Button id="btnFb">
                                Sign In With FaceBook
                              </Button>
                              <Button id="googlePl">
                                    Sign In With Google Plus
                                  </Button>
                                  <button type="submit" id ="signUp" class="btn btn-primary block full-width m-b" (click)="user_login();">Already have an account? Sign in</button>
            
                            
                        </form>
            </div>
            </div>
        </div> 
        </div>
       
        </div>
    </div>
       
</div>
</body>
